<!-- Hero -->
 <section class="hero-section" id="Home">
    <div class="container">
        <h1 class="visually-hidden">Merge Sweety</h1> 
        <picture>
            <source srcset="
            /img/hero/logo-desk.png  1x,
            /img/hero/logo-desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/hero/logo-mob.png 1x,
            /img/hero/logo-mob@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="hero-img" src="/img/hero/logo-mob.png" alt="Merge Sweety" loading="lazy" />
        </picture>
        <div class="hero-wrapper">
            <p class="hero-text">Merge, Match & Melt Into Sweetness!</p>
        </div>
    </div>
 </section>
 <!-- About the Game -->
<article class="about-section" id="About">
    <div class="container">
        <h2 class="about-title">About the Game</h2>
        <picture>
            <source srcset="
            /img/about/about-desk.png 1x,
            /img/about/about-desk@2x.png 2x
           " media="(min-width: 1439px)" />
            <source srcset="
            /img/about/about-mob.png 1x,
            /img/about/about-mob@2x.png 2x
           " media="(max-width: 1438px)" />
            <img class="about-img" src="/img/about/about-mob.png" alt="Merge Sweety" loading="lazy" />
        </picture>
        <p class="about-text"><span class="span">Merge Sweety</span>  is a delightful merge game that takes you on a relaxing journey through sugar-filled lands. Combine
        candies, discover rare desserts, and unlock charming levels as you expand your sugary paradise. Perfect for players who
        love casual games with a magical twist and a touch of strategy.</p>
    </div>
</article>
<!--     Game Benefits -->
<section class="benefits-section" id="Benefits">
    <div class="container">
        <h2 class="benefits-title">Game Benefits</h2>
        <div class="swiper benefits-swiper">
            <div class="swiper-wrapper benefits-swiper-wrapper">
                <div class="swiper-slide benefits-swiper-slide">
             <img class="benefits-img" src="/img/benefits/one.png" alt="Game Benefits" loading="lazy" width="92" height="150">
                    <h3 class="benefits-subtitle">Relaxing Gameplay</h3>
                    <p class="benefits-text">No timers, just cozy merging at your own pace</p>
                 </div>
                <div class="swiper-slide benefits-swiper-slide">
                    <img class="benefits-img" src="/img/benefits/two.png" alt="Game Benefits" loading="lazy" width="92" height="150">
                    <h3 class="benefits-subtitle">Visually Soothing</h3>
                    <p class="benefits-text">Candy animations and pastel palettes for visual comfort</p>
                </div>
                <div class="swiper-slide benefits-swiper-slide">
                    <img class="benefits-img" src="/img/benefits/three.png" alt="Game Benefits" loading="lazy" width="92" height="150">
                    <h3 class="benefits-subtitle">Brain-Teasing Fun</h3>
                    <p class="benefits-text">Simple yet strategic combinations to keep things interesting</p>
                 </div>
                <div class="swiper-slide benefits-swiper-slide">
                    <img class="benefits-img" src="/img/benefits/four.png" alt="Game Benefits" loading="lazy" width="92" height="150">
                    <h3 class="benefits-subtitle">Daily Treats</h3>
                    <p class="benefits-text">Free rewards and surprise boxes<br/>               every day</p>
                 </div>
                <div class="swiper-slide benefits-swiper-slide">
                    <img class="benefits-img" src="/img/benefits/five.png" alt="Game Benefits" loading="lazy" width="92" height="150">
                    <h3 class="benefits-subtitle last-subtitle">Great for All Ages</h3>
                    <p class="benefits-text">Easy to learn, fun to master, safe for kids and adults</p>
                 </div>
                 
            </div>
        </div>
        <div class="custom-navigation">
            <button class="custom-arrow custom-prev custom-prev-first" aria-label="Previous slide">
                <img class="left-arrow" src="/img/benefits/arrow.png" alt="Left arrow" />
            </button>
        
            <button class="custom-arrow custom-next custom-next-first" aria-label="Next slide">
                <img class="right-arrow" src="/img/benefits/arrow.png" alt="Right arrow" />
            </button>
        </div>
    </div>
</section>
<!-- Ready to Merge, Match & Decorate? -->
 <section class="ready-section">
    <div class="container">
        <h2 class="visually-hidden">Ready to Merge</h2> 
        <img class="ready-img" src="/img/ready/ready-mob.png" srcset="
        /img/ready/ready-mob.png 1x,
        /img/ready/ready-mob@2x.png 2x
              " alt="Ready to Merge" loading="lazy" />
        <h3 class="ready-subtitle">Ready to Merge, Match & Decorate?</h3>   
        <p class="ready-text">Step into a world of sweet surprises and delightful transformations! Whether you're merging cupcakes or designing your
        dream dessert café, Merge Sweety offers a charming, relaxing experience with endless possibilities.</p>
    </div>
 </section>
 <!-- Reviews -->
<section class="reviews-section" id="Reviews">
    <div class="container">
        <h2 class="reviews-title">Reviews</h2>
        <div class="swiper reviews-swiper">
            <div class="swiper-wrapper reviews-swiper-wrapper">
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-container">
                        <picture>
       <source srcset="
       /img/reviews/one-desk.png 1x,
       /img/reviews/one-desk@2x.png 2x
     " media="(min-width: 1439px)" />
      <source srcset="
      /img/reviews/one-mob.png 1x,
      /img/reviews/one-mob@2x.png 2x
     " media="(max-width: 1438px)" />
    <img class="reviews-img" src="/img/reviews/one-mob.png" alt="Emily_Pops89:" loading="lazy" />
      </picture>
                            <div class="reviews-wrapper">
                                <h3 class="reviews-author">Emily_Pops89:</h3>
                                <p class="reviews-text">"I can’t stop merging! The graphics are adorable, 10/10 sugar rush!"</p>
                            </div>
                    </div>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-container">
                        <picture>
                            <source srcset="
                       /img/reviews/two-desk.png 1x,
                       /img/reviews/two-desk@2x.png 2x
                     " media="(min-width: 1439px)" />
                            <source srcset="
                      /img/reviews/two-mob.png 1x,
                      /img/reviews/two-mob@2x.png 2x
                     " media="(max-width: 1438px)" />
                            <img class="reviews-img" src="/img/reviews/two-mob.png" alt=" LucaX:" loading="lazy" />
                        </picture>
                        <div class="reviews-wrapper">
                            <h3 class="reviews-author">LucaX:</h3>
                            <p class="reviews-text">"This game is my happy place. I merge, decorate, and relax after a long day."</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-container">
                        <picture>
                            <source srcset="
                       /img/reviews/three-desk.png 1x,
                       /img/reviews/three-desk@2x.png 2x
                     " media="(min-width: 1439px)" />
                            <source srcset="
                      /img/reviews/three-mob.png 1x,
                      /img/reviews/three-mob@2x.png 2x
                     " media="(max-width: 1438px)" />
                            <img class="reviews-img" src="/img/reviews/three-mob.png" alt="CindyCrave88:" loading="lazy" />
                        </picture>
                        <div class="reviews-wrapper">
                            <h3 class="reviews-author">CindyCrave88:</h3>
                            <p class="reviews-text">"Merge Sweety has the perfect balance of challenge and charm.”</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-container">
                        <picture>
                            <source srcset="
                       /img/reviews/four-desk.png 1x,
                       /img/reviews/four-desk@2x.png 2x
                     " media="(min-width: 1439px)" />
                            <source srcset="
                      /img/reviews/four-mob.png 1x,
                      /img/reviews/four-mob@2x.png 2x
                     " media="(max-width: 1438px)" />
                            <img class="reviews-img" src="/img/reviews/four-mob.png" alt="Merge Sweety" loading="lazy" />
                        </picture>
                        <div class="reviews-wrapper">
                            <h3 class="reviews-author">BrunoMeltz:</h3>
                            <p class="reviews-text">"I never thought merging desserts could be this fun. The animations are smooth <span class="desk">and amazing</span>."</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-container">
                        <picture>
                            <source srcset="
                       /img/reviews/five-desk.png 1x,
                       /img/reviews/five-desk@2x.png 2x
                     " media="(min-width: 1439px)" />
                            <source srcset="
                      /img/reviews/five-mob.png 1x,
                      /img/reviews/five-mob@2x.png 2x
                     " media="(max-width: 1438px)" />
                            <img class="reviews-img" src="/img/reviews/five-mob.png" alt="KindGrandma:" loading="lazy" />
                        </picture>
                        <div class="reviews-wrapper">
                            <h3 class="reviews-author">KindGrandma:</h3>
                            <p class="reviews-text">"Pure fun! It’s so rewarding to see how my dessert shop grows."</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-navigation reviews-custom-navigation">
            <button class="custom-arrow custom-prev custom-prev-reviews" aria-label="Previous slide">
                <img class="left-arrow" src="/img/benefits/arrow.png" alt="Left arrow" />
            </button>
        
            <button class="custom-arrow custom-next custom-next-reviews" aria-label="Next slide">
                <img class="right-arrow" src="/img/benefits/arrow.png" alt="Right arrow" />
            </button>
        </div>
    </div>
</section>
<!-- Gallery -->
<section class="gallery-section" id="Gallery">
    <div class="container">
        <h2 class="gallery-title">Gallery</h2>
        <div class="swiper gallery-swiper">
            <div class="swiper-wrapper gallery-swiper-wrapper">
                <div class="swiper-slide gallery-swiper-slide">
                    <img class="gallery-img" src="/img/gallery/one-mob.png" srcset="/img/gallery/one-mob.png 1x,
                    /img/gallery/one-mob@2x.png 2x
                    " alt="Ready to Merge" loading="lazy" />
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <img class="gallery-img" src="/img/gallery/two-mob.png" srcset="/img/gallery/two-mob.png 1x,
                                    /img/gallery/two-mob@2x.png 2x
                                    " alt="Ready to Merge" loading="lazy" />
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <img class="gallery-img" src="/img/gallery/three-mob.png" srcset="/img/gallery/three-mob.png 1x,
                                    /img/gallery/three-mob@2x.png 2x
                                    " alt="Ready to Merge" loading="lazy" />
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <img class="gallery-img" src="/img/gallery/four-mob.png" srcset="/img/gallery/four-mob.png 1x,
                                    /img/gallery/four-mob@2x.png 2x
                                    " alt="Ready to Merge" loading="lazy" />
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <img class="gallery-img" src="/img/gallery/five-mob.png" srcset="/img/gallery/five-mob.png 1x,
                                    /img/gallery/five-mob@2x.png 2x
                                    " alt="Ready to Merge" loading="lazy" />
                </div>
            </div>
        </div>

<div class="custom-navigation gallery-custom-navigation">
    <button class="custom-arrow custom-prev custom-prev-gallery" aria-label="Previous slide">
        <img class="left-arrow" src="/img/benefits/arrow.png" alt="Left arrow" />
    </button>

    <button class="custom-arrow custom-next custom-next-gallery" aria-label="Next slide">
        <img class="right-arrow" src="/img/benefits/arrow.png" alt="Right arrow" />
    </button>
</div>
    </div>
</section>
<!-- FAQ -->
<section class="faq-section" id="FAQ">
    <div class="container">
        <h2 class="faq-title">FAQ</h2>
        <ul class="faq-list">
        <li class="faq-item">
            <div class="faq-wrapper">
                <img  class="faq-img" src="./img/arrow-down.png" alt="Arrow Down" loading="lazy" width="50" height="50">
                <p class="faq-question">Is Merge Sweety free to play?</p>
            </div>
            <p class="faq-answer">Yes, it’s completely free with optional in-app purchases.</p>
        </li>
        <li class="faq-item">
            <div class="faq-wrapper">
                <img class="faq-img" src="./img/arrow-down.png" alt="Arrow Down" loading="lazy" width="50" height="50">
                <p class="faq-question">Can I play offline?</p>
            </div>
            <p class="faq-answer">Absolutely. You don’t need an internet connection to merge sweets!</p>
        </li>
        <li class="faq-item">
            <div class="faq-wrapper">
                <img class="faq-img" src="./img/arrow-down.png" alt="Arrow Down" loading="lazy" width="50" height="50">
                <p class="faq-question">How do I unlock new areas?</p>
            </div>
            <p class="faq-answer">Merge and complete tasks to open up magical candy zones.</p>
        </li>
        <li class="faq-item">
            <div class="faq-wrapper">
                <img class="faq-img" src="./img/arrow-down.png" alt="Arrow Down" loading="lazy" width="50" height="50">
                <p class="faq-question">Is the game kid-friendly?</p>
            </div>
            <p class="faq-answer">100% — no ads or content unsuitable for children.</p>
        </li>
        <li class="faq-item">
            <div class="faq-wrapper">
                <img class="faq-img" src="./img/arrow-down.png" alt="Arrow Down" loading="lazy" width="50" height="50">
                <p class="faq-question">Are there daily bonuses?</p>
            </div>
            <p class="faq-answer">Yes! Log in daily for sweet surprises and extra boosters.</p>
        </li>
        </ul>
    </div>
</section>
