body{
  background: #c79261;
  font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #4a2f1c;
}
h2{
  font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 36px;
      line-height: 1.5;
    text-align: center;
    color: #1df27a;
}
h3{
  font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    color: #ffad1d;
}
