.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 48%;
    transform: translateX(-48%);
    padding: 38px 16px;
    background: #fff6db;
    z-index: 1000;
    width: 374px;
    height: auto;
    display: none;
}

.cookie-class {
    width: 332px;
    font-weight: 700;
    color: #1d1108;
    text-align: center;
}

.cookie-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.btn-accept {
    border-radius: 40px;
        padding: 24px 48px;
        width: 295px;
        height: 81px;
        background: #1d1108;
        font-weight: 700;
            font-size: 22px;
            color: #fff6db;
    box-sizing: border-box;
    border: none;
}

.btn-decline {
    border: 1px solid #1d1108;
        border-radius: 40px;
        padding: 24px 48px;
        width: 295px;
        height: 81px;
        font-weight: 700;
            font-size: 22px;
            color: #1d1108;
    box-sizing: border-box;
    background-color: inherit;
}

@media screen and (min-width: 1439px) {
    .cookie-popup {
        padding: 20px 34px;
        width: 1439px;
        height: auto;
    }

    .popup-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cookie-class {
        width: 595px;

    }

    .cookie-buttons {
        flex-direction: row;
        width: 616px;
            height: 81px;
        gap: 26px;
        margin-top: 0;
    }

}