@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./header.css');

.background-policy {
    color: #1d1108;
    text-align: left;
}

.cookies-title {
    margin-top: 70px;
    margin-bottom: 28px;
    text-shadow: none;
}
.text-width{
    width: 343px;
}
.text-span {
    font-weight: 700;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #1d1108;
    text-align: left;
    font-weight: 700;
    margin-top: 16px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 20px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 16px;
}

.mail-link {
    font-weight: 700;
}

@media only screen and (min-width: 1439px) {
    .policy-container {
        padding-left: 180px;
        padding-right: 180px;
    }

    .cookies-title {
        margin-bottom: 36px;
    }

    .navigation-item {
        color: #fff6db;
    }

    .header-container {
        padding-left: 180px;
        padding-right: 180px;
    }

    .navigation-list {
        gap: 123px;
    }
}